.offer {
  margin: 10px;
  text-decoration: none;
}
.avatar {
  border-radius: 50px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.username {
  font-size: 14px;
  color: #a5a5a5;
}
.product-img {
  width: 220px;
  height: 330px;
}
.product-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.product-detail {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}
.size,
.brand {
  color: gray;
  font-size: 12px;
}
.price {
  font-size: 15px;
}
